{{! Purpose: Template for configuration map.interface.hbs. See AGENTS.md }}

<div class="form-group">
  <label>Default map type</label>
  <label for="textarea-rows" class="select-proxy-display">
  <span class="map-type-icon icon fa fa-chevron-down"></span>
  <select class="form-control hidden-select focus-outline" v-model="mapType">
    <option value="roadmap">Roadmap</option>
    <option value="satellite">Satellite</option>
    <option value="hybrid">Hybrid</option>
    <option value="terrain">Terrain</option>
  </select>
  </label>
</div>

<div class="form-group">
  <div class="checkbox checkbox-icon">
    <input type="checkbox" name="auto-collect-user-location" v-model="autoCollectUserLocation" id="auto-collect-user-location">
    <label for="auto-collect-user-location">
      <span class="check"><i class="fa fa-check"></i></span>
      <span class="hide-field">Automatically collect user location</span>
    </label>
  </div>
    <div class="secondary-info">User can adjust it manually</div>
</div>

<div class="form-group">
  <label>Placeholder</label>
  <input class="form-control" type="text" v-model="placeholder" placeholder="Start typing your address..." />
</div>