<div class="form-group">
  <label>Default map type</label>
  <select class="form-control" v-model="mapType">
    <option value="">--Select one</option>
    <option value="roadmap">roadmap</option>
    <option value="satellite">satellite</option>
    <option value="hybrid">hybrid</option>
    <option value="terrain">terrain</option>
  </select>
</div>

<div class="form-group">
  <div class="checkbox checkbox-icon">
    <input type="checkbox" name="auto-collect-user-location" v-model="autoCollectUserLocation" id="auto-collect-user-location">
    <label for="auto-collect-user-location">
      <span class="check"><i class="fa fa-check"></i></span>
      <span class="hide-field">Automatically collect user location</span>
    </label>
  </div>
</div>

<div class="form-group">
  <label>Placeholder</label>
  <input class="form-control" type="text" v-model="placeholder" placeholder="Start typing your address..." />
</div>