{{! Purpose: Template for configuration paragraph.interface.hbs. See AGENTS.md }}

<div class='form-group'>
  <label>Text</label>
  <div class='fl-paragraph-editor'>
    <textarea
      id='tinymce-paragraph'
      ref='textarea'
      placeholder='Type some text'
      class="form-control"
    >
    </textarea>
  </div>
</div>