{{! Purpose: Template for configuration reorderList.interface.hbs. See AGENTS.md }}

<div class="form-group">
  <label class="control-label">Select type of suggested values</label>
  <div>
    <div class="radio radio-icon">
      <input type="radio" id="manual-option" name="manual-option" value="manual" v-model="optionsType" v-on:click="removeDataProvider">
      <label for="manual-option">
        <span class="check"><i class="fa fa-circle"></i></span> <strong>List of values</strong>
      </label>
    </div>
    <div class="radio radio-icon">
      <input type="radio" id="data-source-option" name="data-source-option" value="dataSource" v-model="optionsType" v-on:click="initDataProvider">
      <label for="data-source-option">
        <span class="check"><i class="fa fa-circle"></i></span> <strong>From a data source</strong>
      </label>
    </div>
  </div>
</div>

<div v-show="optionsType === 'dataSource'" class="form-group clearfix">
  <div id="data-provider"></div>
  <label>Data field name</label>
  <select class="form-control" :value="column" v-model="column" @change="_getDataSourceColumnValues">
    <option value="">-- Select a data field</option>
    <option v-for="(opt, index) in columnOptions" :value="opt">\{{opt}}</option>
  </select>
</div>
<div v-if="optionsType === 'manual'" class="form-group clearfix">
  <label class="control-label">Options (one per line)</label>
  <textarea v-on:input="_setOptions($event.target.value, 'options')" class="form-control resize-vertical" rows="5">\{{ _options }}</textarea>
  <div class="options-help-text">
    If you want to save a different value to the data source, wrap the value in <span class="options-help-highlight">&lt; &gt;</span>. <a href="https://help.fliplet.com/form-component/" target="_blank">Learn more</a>
  </div>
</div>