{
  "extends": "fliplet",
  "globals": {
    "Vue": "readonly",
    "Sortable": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "requireConfigFile": false
  },
  "rules": {
    "no-var": "error",
    "prefer-const": "error",
    "no-const-assign": "error",
    "no-redeclare": "error",
    "block-scoped-var": "error"
  }
}
