<template>
  <div class="list-group col" v-sortable="sortableOptions">
    <div class="list-group-item" v-for="option in orderedOptions" :key="option.id || option.label" :data-id="option.id || option.label" :class="{ 'readonly' : readonly }">
      <div v-if="!readonly" class="list-icons">
        <div class="dots">
          <svg width="6" height="17" viewBox="0 0 6 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="5" cy="1.5" r="1" fill="currentColor"/>
            <circle cx="5" cy="8.5" r="1" fill="currentColor"/>
            <circle cx="5" cy="15.5" r="1" fill="currentColor"/>
            <circle cx="1" cy="1.5" r="1" fill="currentColor"/>
            <circle cx="1" cy="8.5" r="1" fill="currentColor"/>
            <circle cx="1" cy="15.5" r="1" fill="currentColor"/>
          </svg>
        </div>
        <div class="arrows">
          <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.21749 16.0176C9.28443 15.9891 9.34548 15.9484 9.39749 15.8976L12.3975 12.8976C12.4969 12.7909 12.5509 12.6499 12.5484 12.5042C12.5458 12.3584 12.4868 12.2194 12.3837 12.1163C12.2806 12.0133 12.1416 11.9542 11.9959 11.9517C11.8502 11.9491 11.7091 12.0032 11.6025 12.1026L9.56249 14.1426V4.85756L11.6025 6.89756C11.7091 6.99692 11.8502 7.05101 11.9959 7.04844C12.1416 7.04587 12.2806 6.98683 12.3837 6.88377C12.4868 6.78071 12.5458 6.64167 12.5484 6.49595C12.5509 6.35022 12.4969 6.20919 12.3975 6.10256L9.39749 3.10256C9.34548 3.05171 9.28443 3.01102 9.21749 2.98256C9.14883 2.95283 9.07481 2.9375 8.99999 2.9375C8.92518 2.9375 8.85115 2.95283 8.78249 2.98256C8.71555 3.01102 8.65451 3.05171 8.60249 3.10256L5.60249 6.10256C5.49716 6.20802 5.43799 6.35099 5.43799 6.50006C5.43799 6.64912 5.49716 6.79209 5.60249 6.89756C5.70796 7.00289 5.85093 7.06206 5.99999 7.06206C6.14906 7.06206 6.29202 7.00289 6.39749 6.89756L8.43749 4.85756V14.1426L6.39749 12.1026C6.29202 11.9972 6.14906 11.9381 5.99999 11.9381C5.85093 11.9381 5.70796 11.9972 5.60249 12.1026C5.49716 12.208 5.43799 12.351 5.43799 12.5001C5.43799 12.6491 5.49716 12.7921 5.60249 12.8976L8.60249 15.8976C8.65451 15.9484 8.71555 15.9891 8.78249 16.0176C8.85115 16.0473 8.92518 16.0626 8.99999 16.0626C9.07481 16.0626 9.14883 16.0473 9.21749 16.0176Z" fill="currentColor"/>
          </svg>
        </div>
      </div>
      \{{option.label}}
    </div>
  </div>
</template>
