{{! Typeahead field with multi-select capability and item limit validation }}
<template>
  <div class="form-group fl-typeahead" :class="{ 'readonly' : readonly }" ref="typeahead">
    <select multiple placeholder="Start typing..."></select>
  </div>
  <div v-if="maxItems && !exceededMaxItems" class="help-block">\{{messages.maxItemsHelper}}</div>
  <div v-if="exceededMaxItems" class="text-danger">\{{messages.exceededMaxItems}}</div>
</template>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">{{T
    "widgets.form.errors.required"
  }}</p>
